<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created by IntelliJ IDEA.
 * Language: XML
 * Property of Umesh Gunasekara
 * @Author: SLMORA
 * @DateTime: 05/24/2022 09:56 PM
 *
 -->
<!--
 * This pom comes with basic log4j2 configuration for mora-gradle-groovy-jar-template Project
 *
 * @Author: SLMORA
 * @DateTime: 05/24/2022 09:56 PM
 * <p>
 * Version      Date            Editor              Note
 * =====================================================================================================================
 * 1.0			05/24/2022		SLMORA              Initial Code
 * 1.1          05/24/2022		SLMORA              Get copy from mora-gradle-groovy-template-001-202305220743
 * 
-->
<Configuration status="info">
    <Properties>
        <Property name="layout">%d [%t] %-5level %logger - %m%n</Property>
        <Property name="logdir">D:/SLMORAWorkSpace/IntelliJProjects/slmora-template/gradle/mora-gradle-groovy-jar-template-001-202305241352/logs</Property>
    </Properties>

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}" />
        </Console>
        <RollingFile name="LogToFile" fileName="${logdir}/mora-gradle-groovy-jar-template-info.log"
                     filePattern="${logdir}/$${date:yyy-MM-dd}/mora-gradle-groovy-jar-template-info.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${layout}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="LogToFile" />
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="com.slmora" level="info" additivity="false" >
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="Async" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToFile" />
        </Root>
    </Loggers>
</Configuration>
